/*-----Initial body styling------*/
* {
  box-sizing: border-box;
}

body {
  background: url("camo1.jpg") repeat-x;
  background-color: #87785b;
  background-attachment: fixed;
}
.Container {
  margin-top: 20px;

  background-size: cover;
}

/*---------------------------------------------------------------------------*/

/*---Style the navigation section----*/
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c19a6b;
  /* background-color: #E7FEFF;*/
  border-bottom: 1px solid rgb(236, 239, 241);
  width: 100%;
}
.brand-title {
  font-size: 2rem;
  font-family: futura;
  margin: 1rem;
  color: white;
}
.brand-title:hover {
  color: black;
}

.navbar-links ul {
  margin: 1rem;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
  margin-left: 1rem;
}

.navbar-links li a {
  font-family: futura;
  text-decoration: none;
  color: white;
  padding: 2rem;
  display: block;
  font-size: 1.7rem;
}
.navbar-links li a:hover {
  color: black;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}

.toggle-button .bars {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .toggle-button {
    display: flex;
    top: 1.7rem;
  }

  .navbar-links {
    display: none;
    text-align: center;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar-links ul {
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li:hover {
    border-bottom: none;
  }

  .navbar-links li a:hover {
    color: black;
  }

  .navbar-links.active {
    display: flex;
  }
}
/*---End of media query for navigation----*/
.longTextDiv {
  color: white;
}
.longTextDiv2 {
  color: white;
}
.IntroText {
  color: white;
}

.Images {
  color: white;
}

/*--Body---*/

/*---body----*/

/*---Footer----*/

.site-footer {
  position: sticky;
  top: 100%;

  background-color: #c19a6b;
  font-family: futura;
}
.site-footer hr {
  font-family: futura;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  font-family: futura;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer h6:hover {
  color: #834333;
}
.site-footer a {
  color: white;
  font-family: futura;
}
.site-footer a:hover {
  color: #834333;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
  font-family: futura;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: white;
  font-family: futura;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #834333;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    text-align: center;
    justify-content: center;
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  font-family: futura;
  color: white;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #009ffd;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  color: #009ffd;
}
.social-icons a.twitter:hover {
  color: #009ffd;
}
.social-icons a.linkedin:hover {
  color: #009ffd;
}
.social-icons a.dribbble:hover {
  color: #009ffd;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

.MainSectionSlideShow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.HeritageText1 {
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: black;
}
.IntroText {
  color: black;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.leftBTN {
  cursor: pointer;
  font-family: futura;
  font-size: 1.25rem;
  color: white;
  background-color: #834333;
  border-radius: 30px;
  transition: transform 0.3s ease;
  width: 10rem;
  box-shadow: 5px 5px #c19a6b;
  margin: 10px;
}

.rightBTN {
  cursor: pointer;
  font-family: futura;
  font-size: 1.25rem;
  color: white;
  background-color: #834333;
  border-radius: 30px;
  transition: transform 0.3s ease;
  width: 10rem;
  box-shadow: 5px 5px #c19a6b;
  margin: 10px;
}
.logoSection {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 300px;
}
.logoSection img {
  margin: 0px 30px;
}
.memberLink1 {
  width: 400px;
  height: 100px;
}
.memberLink2 {
  width: 300px;
  height: 40px;
}
.memberLink3 {
  width: 400px;
  height: 100px;
}
.memberLink4 {
  width: 200px;
  height: 100px;
}
.longTextDiv {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  align-items: center;
  margin-top: 60px;
  border: 2px solid rgb(192, 192, 192);
  background-color: #ffe7a7;
  padding-left: 30px;
  padding-right: 30px;
  height: 300px;
  margin-bottom: 100px;
}
.Tosh2 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.Tosh {
  display: flex;
  justify-content: center;
}

.longTextDiv2 {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 1000px;
  font-size: 2rem;
  border: 2px solid rgb(192, 192, 192);
  background-color: #ffe7a7;
  padding-left: 30px;
  padding-right: 30px;
  height: 200px;
}
.longTextDiv3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  border: 2px solid rgb(192, 192, 192);
  background-color: #ffe7a7;
  margin-left: 0px;
}
.longTextDiv4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgb(192, 192, 192);
  background-color: #ffe7a7;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1000px;
}
.longTextDiv4 p {
  color: black;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  font-size: 2rem;
}
.longText {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  position: relative;
  text-align: justify;
}
.longText1 {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  position: relative;
  text-align: justify;
}
.longText2 {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  text-align: justify;
}
.descIMg {
  justify-content: center;
  display: flex;
}

.Images {
  width: 33vw;
  min-width: 330px;
  border-radius: 10px;
}
.manyDogs {
  border-radius: 10px;
}

.toshpupwithgoose {
  width: 33vw;
  min-width: 330px;
  border-radius: 10px;
}
.brentandwillow {
  width: 33vw;
  min-width: 330px;
  border-radius: 10px;
}
.ToshSection {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 100px;
  border: 2px solid rgb(192, 192, 192);
  height: 300px;
  background-color: #ffe7a7;
  max-width: 1000px;
  padding-left: 40px;
  padding-right: 40px;
}
.DescriptionIMG {
  padding-top: 10px;
  font-size: 2rem;
  color: black;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
}
.w3-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgb(192, 192, 192);
  height: 300px;
  background-color: #ffe7a7;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1000px;
}

@media (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  .ToshSection {
    width: 350px;
    height: 900px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .DescriptionIMG {
    text-align: start;
  }
  .descIMg {
    justify-content: center;
    display: flex;
    width: 100%;
    margin-top: 20px;
  }
  .w3-container {
    width: 350px;
    margin-top: 100px;
    height: 500px;
  }
  .longText {
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
    text-align: start;
  }

  .longText2 {
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
    text-align: start;
    padding-top: 20px;
  }

  .memberLink {
    width: 300px;
  }
  .longTextDiv {
    margin-top: 60px;
    color: white;
    height: 850px;
    width: 350px;
    margin-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .longTextDiv2 {
    text-align: center;
    align-items: center;
    margin-top: 60px;
    height: 400px;
    width: 350px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .longTextDiv3 {
    height: 120px;
    padding-left: 0px;
    padding-right: 0px;
    width: 350px;
  }
  .longTextDiv4 {
    margin-top: 20px;
    width: 350px;
    height: 1200px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    align-items: flex-start;
  }
  .longText {
    text-align: start;

    padding-left: 0px;
  }
  .longText1 {
    text-align: start;

    padding-left: 0px;
  }
  .longTextDiv4 p {
    text-align: start;
    font-size: 2rem;
  }
  .IntroText {
    text-align: center;
    font-size: 3rem;
  }
  .HeritageText {
    text-align: center;
    font-size: 40px;

    padding-right: 0px;
    padding-left: 0px;
    font-family: "Times New Roman", Times, serif;
  }
  .Images {
    width: 350px;
    height: 400px;
    border-radius: 20px;
  }
  .manyDogs {
    width: 350px;
    height: 450px;
    border-radius: 20px;
  }
  .toshpupwithgoose {
    width: 350px;
    height: 320px;
    border-radius: 20px;
  }
  .brentandwillow {
    width: 370px;
    height: 280px;
    border-radius: 20px;
  }
}
/* Form section */
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.formSection {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
  margin-bottom: 100px;
}
.contactUS {
  font-size: 2.5rem;
  color: black;
  width: 250px;
  align-items: center;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  border: 2px solid rgb(192, 192, 192);
  background-color: #ffe7a7;
  padding-left: 0px;
}
.contactEmail {
  border-radius: 15px;
  width: 25rem;
  height: 3rem;
}
::placeholder {
  font-family: "Times New Roman", Times, serif;
}
.TextArea {
  border-radius: 15px;
  width: 50rem;
  height: 10rem;
  font-family: "Times New Roman", Times, serif;
}
.subjectArea {
  border: 2px solid gray;
  border-radius: 15px;
  width: 25rem;
  height: 3rem;
}
.contactBTN {
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.25rem;
  color: white;
  background-color: #834333;
  border-radius: 30px;
  width: 10rem;
  box-shadow: 5px 5px #c19a6b;
  margin: 10px;
}

@media (max-width: 1100px) {
  ::placeholder {
    font-family: "Times New Roman", Times, serif;
    padding-left: 20px;
  }
  .TextArea {
    border-radius: 15px;
    width: 20rem;
    height: 10rem;
  }
  .contactEmail {
    border-radius: 15px;
    width: 20rem;
    height: 3rem;
  }

  .subjectArea {
    border-radius: 15px;
    width: 20rem;
    height: 3rem;
  }

  .logoSection {
    flex-direction: column;
  }
  .logoSection img {
    margin: 20px 0px;
  }

  .memberLink1 {
    width: 250px;
    height: 60px;
  }
  .memberLink2 {
    width: 250px;
    height: 60px;
  }
  .memberLink3 {
    width: 200px;
    height: 60px;
  }
  .memberLink4 {
    width: 150px;
    height: 60px;
  }
}
